name: Build

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        architecture: x64

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-disabled: true

    - name: Build
      run: ./gradlew build

    - name: Check
      run: ./gradlew check

    - name: Distribute Editor
      run: ./gradlew editor:distEditor

    - uses: actions/upload-artifact@v6
      with:
        name: Mundus Editor
        compression-level: 9
        path: editor/build/libs/Mundus-*.jar
